:root {
    --highlight-color: red;
}

.highlight {
    color: var(--highlight-color);
}

p {
    font-family: sans-serif;
}

.underline {
    text-decoration: underline; 
}

.bold{
    font-weight: bold;
}